body {
    background-color: #eee;
}

* {
    font-family: arial;
}

#horarios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.horario-header {
    padding: 10px;
    height: 120px;
}

h1 {
    text-align: center;
    border-top: 3px solid #ff0000;
    border-bottom: 3px solid #ff0000;
    width: fit-content;
    margin: 10px auto;
}

#horarios .horario {
    padding-bottom: 10px;
    background-color: #fff;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}

table {
    margin: 20px;
    padding: 20px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  th, td {
    background-color: #96D4D4;
    padding: 0 3px;
  }